$navHeight:50px;

//border radius
$rad20:10px; // 

//colors

$lightGrey:rgb(216, 216, 216);
$lightBrown:rgb(222, 184, 135);
$darkBrown:rgb(153, 120, 77);
$l_yellow:rgb(244, 188, 81);
$l_blue:rgb(10, 28, 112);

$l_purple:rgb(72, 0, 131);
$blue:rgba(26, 37, 185, 0.726);
$dark_pink:rgb(143, 7, 119);
$purple_1:rgb(127, 8, 153);
$blue:rgb(48, 8, 153);
$dark_blue:rgb(8, 7, 143);
$mainPurple:rgb(134, 110, 148);
